body{
    display:flex;
    flex-direction:column;
    gap:30px;
    margin:20px 30px;
    background-color:black;
    box-sizing:border-box;
    height:100%;
}
h4{
    font-family:impact;
    color:white;
    font-size:15pt;
}
main{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.sign_intx{
    height:50px;
    background-color:transparent;
    border:2px solid white;
    color:white;
}
#txt2{
    font-size:8pt;
    color: #1da1f2;
    text-align:right;

}
#txt21{
    font-size:8pt;
    color: #1da1f2;

}
#txt{
    font-size:8pt;
    color: white;
    text-align:right;

}
.txt3{
    font-size:8pt;
    color: white;
    text-align:center;
    display:block;
    margin-top:160px;

}
p{
    font-size:8pt;
    color: white;
}
#b{
    font-size:10pt;
    color: white;
    font-weight:bolder;
    font-family:impact;
}
#age{
    width:100%;
}
.sign_in_google{
    margin-top:80px;
    height:40px;
    border-radius: 20px 20px 20px 20px;
}
#logo{
    align-self:center;
    align-item:center;
    justify-content:center;
    justify-self:center;
    height:25px; 
    width:25px;
}
 #man{
    display:none;
}
#login2{
    display:none;
    margin-top:-25px;
}
#txt3{
    display:none;
    margin-top:190px;
}
#txt21{
    display:none;
}
#login{
    margin-top:20px;
}
